<div class="primary" *ngIf="parentFolder">
    <main class="main" role="main">
        <article class="post">
            <header class="post__header">
                <h1 class="post__title">{{ parentFolder.name }}</h1>
            </header>
            <div class="content post__content clearfix">

                <h3 id="garden-description">Room Description</h3>

                <p *ngFor="let detail of wallDetail.description"> {{ detail }} </p>

                <h3 id="keywords">Keywords</h3>
                <span *ngFor="let tag of parentFolder.tags">
                    <a style="padding-right: 20px;" role="button" (click)="setTag({ tag })">{{ tag }}</a>
                </span>
            </div>
        </article>
    </main>
</div>