<div class="primary">
    <main class="main" role="main">
        <article class="post">
            <header class="post__header">
                <h4 class="post__title">The Development Team</h4>
            </header>
            <div class="content post__content clearfix">
                <p>Prototype developed by Joseph Williams, Mekayla May, Maryl Gensheimer, Adan Ramos,
                    Maura Beste, and Sean Cahall. Illustrations by the Stabiae Archaeology Team of the University of
                    Maryland Architecture Program.</p>
            </div>
        </article>
    </main>
</div>