<div class="primary">
    <main class="main" role="main">
        <article class="post">
            <header class="post__header">
                <figcaption>
                    <h4 class="post__title">Welcome to <i>Visual Preservation at Roman Stabiae</i></h4>
                </figcaption>
            </header>
            <div class="content post__content clearfix">
                <p><i>Visual Preservation at Roman Stabiae</i> is a web database to accompany a forthcoming book of the
                    same title by the Stabiae Archaeological Team of the University of Maryland Architecture Program.
                </p>
                <figure><img src="'../../assets/images/va-converted.jpg" alt="Floorplan of the Villa Arianna">
                    <figcaption>
                        <h4>Floorplan of the Villa Arianna</h4>
                    </figcaption>
                </figure>
                <!-- <h2 id="lucem">Ad lucem</h2> -->
                <p>Built in the late first century BCE and buried by the eruption of Vesuvius in 79 CE (the same
                    disaster that befell nearby Pompeii and Herculaneum), the Villa Arianna comprises almost 100 rooms
                    and represents the height of elite villa culture in the Late Republic and Early Empire. The
                    fossilized remains of the villa are precious evidence for early Roman painting techniques,
                    formations of interior and exterior space (including a peristyle garden as large as any in the Roman
                    world), private rituals, and representations of nature. Unfortunately, the villa’s position on a
                    cliff makes it vulnerable to erosion from storms and settling. Thus the great terrace supporting the
                    suite of ‘panoramic rooms’ facing Vesuvius is mostly lost. As the Arianna continues to deteriorate,
                    it is still missing a detailed illustrated survey of itsfrescoed rooms equal to recent efforts at
                    the Villa San Marco in Stabiae, the villas of Oplontis, and the houses of Pompeii.</p>
                <p>This interactive site exhibits our archaeological illustrations and photographs of the surviving
                    walls in the excavated core of the villa that contain significant traces of Roman fresco. The
                    photographs are an efficient medium for conveying the appearance of the frescoed walls from a
                    viewer’s perspective, capturing color and spatial depth. Meanwhile the illustrations (digital
                    line-drawn elevations) constitute a
                    robust visual record of the walls in their current state, accurately representing the dimensions,
                    elevation levels, proportions, and physical diversity of the complex wall surfaces, which preserve
                    not only fresco but also exposed masonry and archaeological <i>signatures</i> expressing various
                    historical
                    processes. Our innovative recording methodology, which integrates on-site observation, hand-drawing,
                    and historical learning with automated measuring techniques (EDM, LiDAR, and photogrammetry),
                    presents a new standard of accuracy and detail in the visual preservation of Roman decorated houses.
                </p>
                <p>You are invited to explore these images through browse and search options, or to navigate the
                    plan of the villa for specific rooms. Each room has a dedicated page with a brief description,
                    images and archaeological illustrations of each frescoed wall, and information about its subject
                    matter, painting style, materials, and room function. Each room is also tagged with this information
                    to facilitate search queries. Through this accessible format, we hope to offer new pathways into
                    this rich archaeological site.</p>
                <!-- <blockquote>
                    <p>Tristique senectus et netus et malesuada fames ac.</p>
                </blockquote> -->

                <p><img class="supporting-list" src="favicon.ico" alt="Supporting Organizations: UMD, RAS, 5XMILLE">
                </p>
            </div>
        </article>
    </main>
</div>