<header class="header">
  <div class="container header__container">
    <div class="logo"><a class="logo__link" href="/" title="AB UNO DISCE OMNES" rel="home">
        <div class="logo__item logo__text">
          <div class="logo__title">AB UNO <i>DISCE</i> OMNES</div>
        </div>
      </a></div>
    <nav class="menu"><button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
        <span class="menu__btn-title" tabindex="-1">Menu</span></button>
      <ul class="menu__list">
        <li class="menu__item"><a class="menu__link" href="/home/"><span class="menu__text">Home</span></a></li>
        <li class="menu__item"><a class="menu__link" href="/about/"><span class="menu__text">About</span></a></li>
        <li class="menu__item"><a class="menu__link" href="/citation/"><span class="menu__text">How to Cite</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="wrapper flex">
  <aside class="sidebar sidebar--left">
    <div class="widget-search widget">
      <h4 class="widget__title">Search</h4>
      <form #f="ngForm" class="widget-search__form" role="search" (ngSubmit)="setSearchTerm(f)">
        <label><input class="widget-search__field" type="search" placeholder="search..." name="q" ngModel #q="ngModel"
            id="search-input" aria-label="search..."></label>
        <input class="widget-search__submit" type="submit" value="Search">
      </form>
    </div>

    <!-- <div class="widget-taglist widget">
      <h4 class="widget__title">Map</h4>
      <div class="widget__content" id="map">
        <app-map></app-map>
      </div>
    </div> -->
    <div class="widget-taglist widget">
      <h4 class="widget__title">Keywords</h4>
      <div class="widget__content">
        <span *ngFor="let entry of entryList">
          <a class="widget-taglist__link widget__link" role="button" (click)="setTag({ entry })"
            title="{{ entry.tag }}">{{
            entry.tag }} <span>({{ entry.count }})</span></a>
        </span>
      </div>
    </div>
  </aside>
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container footer__container flex">
    <div class="footer__copyright">© 2023 Ab Uno Disce Omnes.
      <span class="footer__copyright-credits">Omnia dicta fortiora si dicta Latina</span>
    </div>
  </div>
</footer>